<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/home.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap Icons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.20.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@4.5.0/font/bootstrap-icons.min.css">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/solid.min.css">
</head>

<body>
    <div class="app">
        <div class="header">
            <div class="row h-100">
                <div class="col-md-6 row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <img width="100%" src="../assets/images/logo.png" />
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>

                <ul class="col-md-6  header-list">
                    <li class="header-item1"><a id="header-item-first" href="../components/home.html">Home</a></li>
                    <li class="header-item"><a href="../components/intro.html">Giới thiệu</a> </li>
                    <li class="header-item"><a href="../components/images.html">Thư viện ảnh</a> </li>
                    <li class="header-item "><a href="../components/contact.html">Liên hệ</a> </li>
                    <li class="header-item "><a href="../components/menu.html">Menu</a> </li>
                    <li class="header-item "><a href="../components/datlich.html">Đặt lịch</a> </li>

                    <li class="header-item header-call"><a href="#">Gọi Yên <i class="fa fa-phone ml-2"></i></a></li>
                    <li class="header-item"></li>

                </ul>
            </div>




        </div>
        <div class="slider">
            <div class="content">
                <h1 class="slider-name" style="font-family: 'Viet Valky bold', sans-serif;"> Yên Retreat</h1>
                <h3 class="slider-about" style="font-family: 'Viet Valky regular', sans-serif;">TENT SITE</h3>
                <button class="slider-btn" type="button">Đặt lịch</button>
            </div>
        </div>
        <div class=" goHome container">
            <div class="goHome-left  ">
                <h1 class="left-heading" style="font-family: 'Viet Valky bold', sans-serif;">Về Với Yên</h1>
                <p class="left-about">Đã bao lâu rồi bạn chưa được hít thở một bầu không khí trong lành bên dòng sông
                    con suối? Đã bao lâu
                    rồi bạn chưa có dịp ngồi bên nhau cùng bạn bè hàn huyên tâm sự giữa thiên nhiên mát xanh? Đã bao lâu
                    rồi bạn chưa có thời gian ngẫm về cuộc sống hay giản đơn chỉ là ngồi bên dòng sông yên ả ngắm nhìn
                    những cánh hoa xuyến chi dung dị đong đưa trước gió để thả hồn mình theo núi, theo sông?</p>
                <p class="left-abou1">Nếu có một ngày phố thị làm bạn cảm thấy ngột ngạt, tiện nghi sang trọng làm bạn
                    thấy quá đỗi bình thường hay cuộc sống thị dân làm bạn bon chen mệt mỏi… thì có thể dành một chút
                    thời gian ngắn để… về với Yên.</p>
                <p class="left-abou2">Yên retreat – Tranquil place, Tranquil stay <span>❤️</span></p>
                <li id="left-more" class="header-item header-call"><a id="left-footer" href="#">Tìm hiểu thêm</a></li>


            </div>
            <div class="goHome-right ">
                <div class="right-img">
                    <div class="right-img1">
                        <img src="../assets/images/anh1.jpeg" width="273px" height="205px" alt="">

                        <img src="../assets/images/anh2.jpeg" style="margin-top: 18px;" width="273px" height="347px"
                            alt="">
                    </div>
                    <div class="right-img2">
                        <img src="../assets/images/anh3.jpeg" style="margin-top: -36px;" width="272px" height="363px"
                            alt="">

                        <img src="../assets/images/anh4.jpeg" style="margin-top: 18px;" width="272px" height="205px"
                            alt="">
                    </div>
                </div>
            </div>

        </div>
        <div class="service">
            <div class="service-sub container">
                <div class="service-header">
                    <h1 id="service-name" class="slider-name" style="font-family: 'Viet Valky light', sans-serif;"> DỊCH
                        VỤ TẠI</h1>
                    <h3 id="service-about" class="slider-about" style="font-family: 'Viet Valky Semibold', sans-serif;">
                        Yên Retreat</h3>

                </div>
                <div class="service-card">
                    <div id="card" class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/images/anh5.jpeg" alt="Card image cap">
                        <div class="card-body">

                            <p id="card-text" class="card-text">Cắm trại qua đêm</p>

                        </div>
                    </div>
                    <div id="card" class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/images/anh6.jpeg" alt="Card image cap">
                        <div class="card-body">

                            <p id="card-text" class="card-text">Tổ chức sự kiện </p>

                        </div>
                    </div>
                    <div id="card" class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/images/anh7.jpeg" alt="Card image cap">
                        <div class="card-body">

                            <p id="card-text" class="card-text">Cafe</p>

                        </div>
                    </div>
                    <div id="card" class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/images/anh8.jpeg" alt="Card image cap">
                        <div class="card-body">

                            <p id="card-text" class="card-text">Dịch vụ ăn uống & BBQ</p>

                        </div>
                    </div>
                </div>
                <div class="service-footer">
                    <li style="margin-left: 50%; transform: translateX(-50%);" id="left-more"
                        class="header-item header-call"><a id="left-footer" href="#">Thư viện hình ảnh</a></li>
                </div>
            </div>

        </div>
        <!-- <div class="event"></div> -->
        <div class="about">
            <div class="overlay"></div>
            <div class="about-content">
                <h2 style="font-family: 'Viet Valky bold'" class="about-header">Yên không phải khu du lịch...</h2>
                <p class="about-text">Yên cũng không là khu nghỉ dưỡng hay điểm vui chơi mà càng chẳng có gì để “giải
                    trí”… Yên chỉ là
                    một khu đất trại với bãi cỏ xanh ngắt, với những căn lều giản đơn để bạn ngủ qua đêm một cách
                    gần nhất với thiên nhiên, một dòng sông lững lờ trôi trước mặt, một con suối róc rách đổ ra sông
                    & núi non bao bọc quanh để bạn ngồi đó ngắm cảnh núi sông quê bình dị, hít hà không khí mát
                    trong cùng đất trời vùng núi tìm lại những giây phút tĩnh tại trong lòng mình… rồi có thể cùng
                    quyển sách hay thả mình theo mây trời, hoá thân vào những nhân vật trong trang sách rồi phiêu
                    bồng giữa không gian ả yên nơi vùng quê xa. Hoặc cha mẹ cho các con mình được vài giờ quên đi
                    smartphone hay iPad… để cùng các con mình lội suối, thả diều, đá bóng hay quây quần bên nhau
                    trên bãi cỏ kể cho nhau những câu chuyện mà những ngày bận rộn chốn phố thị bạn đã bỏ qua.</p>
                <p class="about-text">Buổi tối giản đơn bên sông với những món ăn địa phương đơn giản, cùng bên nhau
                    dùng bữa vui cười
                    giữa không gian sông núi… quên đi những “deadline” hay “target”… để hoà mình vào thiên nhiên
                    trẻo trong yên bình.</p>
                <p class="about-text">Nếu bạn tìm kiếm sự tiện nghi hay những thú vui chốn thị thành thì đừng nhọc công
                    đi xa đến Yên
                    bởi Yên không có những thứ đó cho bạn. Chốn quê xa với những thứ dung dị, thiên nhiên nhất là
                    món quà dành cho bạn thôi đúng như tên gọi của Yên: Yên Retreat, thế thôi 😍</p>
            </div>


        </div>
        <div class="contact ">
            <div class="container contact-sub">
                <div class="contact-head">
                    <div class="contact-head1">
                        <h2 style="font-family: 'Viet Valky bold';font-size: 52px;color:#222222"> Liên Hệ Đặt Chỗ</h2>
                        <p class="font-size:15px;color:#484848;">Quý khách đặt chỗ bằng cách liên hệ trực tiếp hoặc
                            email với Yên Retreat theo thông tin dưới
                            đây
                            !
                        </p>
                        <i style="font-weight:bold;">Thông tin chuyển khoản Yên Retreat:</i>
                        <div style="margin: 24px 0;">
                            <p class="contact-money">Chủ tài khoản: Bùi Đức Vũ</p>
                            <p class="contact-money">Số tài khoản: 0041000225015</p>
                            <p class="contact-money">Ngân hàng: Vietcombank</p>
                        </div>
                        <ul class="contact-list">
                            <li class="contact-item"><i class="fa fa-phone"></i><span id="ml">0935 888 293</span></li>
                            <li class="contact-item"> <i class="fa fa-envelope"></i> <span
                                    id="ml">yenretreat@gmail.com</span></li>
                            <li class="contact-item"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="12"
                                    viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                    <path
                                        d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
                                </svg> <span id="ml">Thôn Nam Yên, xã Hoà Bắc, Đà Nẵng </span></li>
                            <li class="contact-item"> <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16"
                                    viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                    <path
                                        d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" />
                                </svg> <span id="ml">Mở cửa từ thứ ba tới chủ nhật hàng tuần<span></li>
                        </ul>
                    </div>
                    <div class="contact-head2">

                        <span >
                            <label class="lable-name" for="name">Tên của bạn</label>
                            <input type="text" id="name">
                        </span>
                        <span id="mt">
                            <label class="lable-name" for="phone">Số điện thoại</label>
                            <input type="text" id="phone">
                        </span>
                        <span id="mt">

                            <label class="lable-name" for="email">Địa chỉ email</label>
                            <input type="email" id="email">

                        </span>
                        <span id="mt">
                            <label class="lable-name" for="content">Nội dung</label>
                            <input id="noidung" type="text" id="content">
                        </span>
                        <button id="btn-send" type="button">Gửi</button>


                    </div>
                </div>
                <div class="contact-below">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3832.6037382942677!2d108.05564373900575!3d16.13778683766425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142218b09556ab9%3A0x66ebada19d9188e4!2sY%C3%AAn%20Retreat!5e0!3m2!1svi!2s!4v1705244677110!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
        <div class="footer">
            <p>Copyright 2022 © Yên Retreat</p>
        </div>


</body>


</html>