<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="stylesheet" href="../assets/css/intro.css">
    <link rel="stylesheet" href="../assets/css/images.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap Icons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.20.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@4.5.0/font/bootstrap-icons.min.css">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <title>Thư viện ảnh</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/solid.min.css">
</head>

<body>
    <div class="app">
        <div class="header">
            <div class="row h-100">
                <div class="col-md-6 row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <img width="100%" src="../assets/images/logo.png" />
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>

                <ul class="col-md-6  header-list">
                    <li class="header-item1"><a id="header-item-first" href="../components/home.html">Home</a></li>
                    <li class="header-item"><a href="../components/intro.html">Giới thiệu</a> </li>
                    <li class="header-item"><a href="../components/images.html">Thư viện ảnh</a> </li>
                    <li class="header-item "><a href="../components/contact.html">Liên hệ</a> </li>
                    <li class="header-item "><a href="../components/menu.html">Menu</a> </li>
                    <li class="header-item "><a href="../components/datlich.html">Đặt lịch</a> </li>

                    <li class="header-item header-call"><a href="#">Gọi Yên <i class="fa fa-phone ml-2"></i></a></li>
                    <li class="header-item"></li>

                </ul>
            </div>




        </div>
        <div id="images" class="slider">
            <div class="overlay"></div>

            <div class="content">

                <h3 class="slider-about" style="font-family: 'Viet Valky regular', sans-serif;">THƯ VIỆN ẢNH</h3>
                <!-- <button class="slider-btn" type="button">Đặt lịch</button> -->
            </div>
        </div>

        <div class="goHome-img container mt-5">
            <div class="goHome-img1">
                <img src="../assets/images/intro6.jpeg" alt="">
                <img id="img-2" src="../assets/images/contact.jpeg" alt="">
                <img src="../assets/images/thuvienanh4.jpeg" alt="">
            </div>
            <div class="goHome-img1">
                <img src="../assets/images/thuvienanh5.jpeg" alt="">
                <img id="img-2" src="../assets/images/thuvienanh6.jpeg" alt="">
                <img width="100%" src="../assets/images/thuvienanh3.jpeg" alt="">
            </div>
            <div id="goHome-img1" class="goHome-img1">
                <img src="../assets/images/thuvienanh7.jpeg" alt="">
                <img style="height: 356;" id="img-2" src="../assets/images/thuvienanh1.jpeg" alt="">
            </div>
            <div class="goHome-img1">
                <img src="../assets/images/anh1.jpeg" alt="">
                <img style="height: 362px;" id="img-2" src="../assets/images/thuvienanh8.jpeg" alt="">
            </div>
        </div>

        <button id="btn-images" class="slider-btn" type="button">Xem thêm</button>
        <div class="hoabac container">
            <div class="hoabac-left">
                <h2 id="hoabac-head" style="font-family: 'Viet Valky regular';">Hòa Bắc PaintingS</h2>
                <p id="hoabac-by" style="font-family: 'Viet Valky bold';">by Dang Cong Tri </p>
            </div>
            <div class="hoabac-right">
                <div class="right-img-sub">
                    <img src="../assets/images/hb1.jpeg" alt="">
                    <img src="../assets/images/hb2.jpeg" alt="">
                </div>
                <div class="right-img-sub">
                    <img src="../assets/images/hb3.jpeg" alt="">
                    <img src="../assets/images/hb4.jpeg" alt="">
                    <img src="../assets/images/hb5.jpeg" alt="">
                </div>
                <div class="right-img-sub">
                    <img src="../assets/images/hb6.jpeg" alt="">
                    <img src="../assets/images/hb7.jpeg" alt="">

                </div>
                <div class="right-img-sub">
                    <img src="../assets/images/hb8.jpeg" alt="">
                    <img src="../assets/images/hb9.jpeg" alt="">
                    <img src="../assets/images/hb10.jpeg" alt="">

                </div>
            </div>

        </div>

        <div class="hoabac container mt-5">
           
            <div class="hoabac-right">
                <div class="right-img-sub">
                    <img src="../assets/images/yk1.jpeg" alt="">
                    <img src="../assets/images/yk2.jpeg" alt="">
                    <img src="../assets/images/yk3.jpeg" alt="">
                </div>
                <div class="right-img-sub">
                    <img src="../assets/images/yk4.jpeg" alt="">
                    <img src="../assets/images/yk5.jpeg" alt="">
                </div>
                <div class="right-img-sub">
                    <img src="../assets/images/yk6.jpeg" alt="">
                    <img src="../assets/images/yk7.jpeg" alt="">

                </div>
                <div class="right-img-sub">
                    <img src="../assets/images/yk8.jpeg" alt="">
                    <img src="../assets/images/yk9.jpeg" alt="">

                </div>
            </div>
            <div class="hoabac-left">
                <h2 id="hoabac-head" style="font-family: 'Viet Valky regular'; padding-left: 16px;">Yên Không Yên</h2>
            </div>

        </div>
        <button id="btn-images" class="slider-btn" type="button">Xem thêm</button>

        <div class="footer">
            <p>Copyright 2022 © Yên Retreat</p>
        </div>


</body>


</html>