<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="stylesheet" href="../assets/css/intro.css">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap Icons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.20.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@4.5.0/font/bootstrap-icons.min.css">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <title>Giới thiệu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/solid.min.css">
</head>

<body>
    <div class="app">
        <div class="header">
            <div class="row h-100">
                <div class="col-md-6 row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <img width="100%" src="../assets/images/logo.png" />
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>

                <ul class="col-md-6  header-list">
                    <li class="header-item1"><a id="header-item-first" href="../components/home.html">Home</a></li>
                    <li class="header-item"><a href="../components/intro.html">Giới thiệu</a> </li>
                    <li class="header-item"><a href="../components/images.html">Thư viện ảnh</a> </li>
                    <li class="header-item "><a href="../components/contact.html">Liên hệ</a> </li>
                    <li class="header-item "><a href="../components/menu.html">Menu</a> </li>
                    <li class="header-item "><a href="../components/datlich.html">Đặt lịch</a> </li>

                    <li class="header-item header-call"><a href="#">Gọi Yên <i class="fa fa-phone ml-2"></i></a></li>
                    <li class="header-item"></li>

                </ul>
            </div>

        </div>
        <div id="intro" class="slider">
            <div class="overlay"></div>
            <div class="content">
                <h3 class="slider-about" style="font-family: 'Viet Valky regular', sans-serif;">Yên Retreat</h3>

            </div>
        </div>
        <div class=" goHome  container">
            <div class="goHome-left  ">
                <h1 class="left-heading" style="font-family: 'Viet Valky bold', sans-serif;">Yên Retreat</h1>
                <span>
                    Ở Yên không có tổ chim
                </span>
                <span>
                    cũng không có những trái tim trendy
                </span>
                <span>
                    Ở Yên
                </span>
                <span>
                    thiệt chẳng có gì
                </span>
                <span>
                    Chỉ bãi cỏ rộng xanh rì,
                </span>
                <span>
                    mênh mông
                </span>
                <span>
                    Ở Yên trước mặt là sông
                </span>
                <span>
                    Cùng con suối nhỏ bên hông
                </span>
                <span>
                    an hoà
                </span>
                <span>
                    Ghé Yên để trốn mệt nhoà
                </span>
                <span>
                    Xôn xao phố thị phồn hoa mỗi ngày
                </span>
                <span>
                    Đến Yên để hưởng Yên’s vibes
                </span>
                <span>
                    Đừng mong Yên phải
                </span>
                <span>
                    thế này thế kia 😜
                </span>
                <button style="margin-left: 0;" class="slider-btn" type="button">Đặt lịch</button>

            </div>
            <div class="goHome-right ">
                <div class="right-img">
                    <img width="100%" src="../assets/images/intro2.jpeg" alt="">
                </div>
            </div>

        </div>
        <div class="goHome-img container">
            <div class="goHome-img1">
                <img src="../assets/images/intro6.jpeg" alt="">
                <img id="img-2" src="../assets/images/anh1.jpeg" alt="">
                <img src="../assets/images/anh4.jpeg" alt="">
            </div>
            <div class="goHome-img1">
                <img src="../assets/images/contact.jpeg" alt="">
                <img id="img-2" src="../assets/images/intro1.jpeg" alt="">
                <img width="100%" src="../assets/images/intro9.jpeg" alt="">
            </div>
            <div class="goHome-img1">
                <img style="height: 356px;" src="../assets/images/intro8.jpeg" alt="">
                <img id="img-2" src="../assets/images/intro5.jpeg" alt="">
                <img width="100%" src="../assets/images/intro10.jpeg" alt="">
            </div>
            <div class="goHome-img1">
                <img src="../assets/images/intro7.jpeg" alt="">
                <img style="height: 356px;" id="img-2" src="../assets/images/intro4.jpeg" alt="">

            </div>
        </div>




        <div class="footer">
            <p>Copyright 2022 © Yên Retreat</p>
        </div>


</body>


</html>